In [1]:
import pandas as pd
import recordlinkage
import difflib
import re
from progress.bar import IncrementalBar

In [99]:
first = pd.read_csv("input_data/main1.csv")
second = pd.read_csv("input_data/main2.csv")
third = pd.read_csv("input_data/main3.csv")

In [100]:
first.shape

(8639816, 7)

In [103]:
t = pd.read_csv("table_results.csv")
t

,Unnamed: 0,id_is1,id_is2,id_is3
0,0,[np.int64(128610)],[],[np.int64(8109608)]
1,1,[np.int64(5857900)],[],"[np.int64(5346908), np.int64(8431823), np.int6..."
2,2,[np.int64(6142232)],[],[np.int64(4409471)]
3,3,[np.int64(6969790)],[],[np.int64(8619833)]
4,4,[np.int64(7491170)],[],[np.int64(9611806)]
5,5,[np.int64(8518643)],[],[np.int64(9761316)]
6,6,[np.int64(90664)],[],[np.int64(103714)]
7,7,[np.int64(136283)],[],[np.int64(8060206)]
8,8,[np.int64(634105)],[],[np.int64(757662)]
9,9,[np.int64(643280)],[],[np.int64(735772)]
10,10,[np.int64(959171)],[],[np.int64(1097951)]
11,11,[np.int64(1037182)],[],[np.int64(1187398)]
12,12,[np.int64(1333649)],[],[np.int64(1526843)]
13,13,[np.int64(1342168)],[],[np.int64(9493650)]
14,14,[np.int64(1356200)],[],[np.int64(1552569)]
15,15,[np.int64(1781210)],[],[np.int64(2039508)]
16,16,[np.int64(1801715)],[],[np.int64(2063105)]
17,17,[np.int64(1877254)],[],[np.int64(2149420)]
18,18,[np.int64(2237525)],[],[np.int64(3122216)]
19,19,[np.int64(2382013)],[],"[np.int64(2728305), np.int64(6746497)]"
20,20,[np.int64(2399863)],[],[np.int64(2748834)]
21,21,[np.int64(2421159)],[],[np.int64(2773203)]
22,22,[np.int64(2751422)],[],[np.int64(3151724)]
23,23,[np.int64(2845088)],[],[np.int64(3259000)]
24,24,[np.int64(2940574)],[],[np.int64(3368497)]
25,25,[np.int64(3010389)],[],[np.int64(3448502)]
26,26,[np.int64(3565729)],[],[np.int64(4085287)]
27,27,[np.int64(4053445)],[],[np.int64(9148154)]
28,28,[np.int64(4441142)],[],[np.int64(5086451)]
29,29,[np.int64(4635232)],[],[np.int64(5308890)]
30,30,[np.int64(5030701)],[],[np.int64(5761701)]
31,31,[np.int64(5723852)],[],[np.int64(6556177)]
32,32,[np.int64(6376468)],[],[np.int64(7304775)]
33,33,[np.int64(6559359)],[],[np.int64(7514469)]
34,34,[np.int64(6669323)],[],[np.int64(7640415)]
35,35,[np.int64(6723552)],[],[np.int64(7702777)]
36,36,[np.int64(6827721)],[],[np.int64(7822231)]
37,37,[np.int64(7089723)],[],[np.int64(8122350)]
38,38,[np.int64(7260096)],[],[np.int64(8317475)]
39,39,[np.int64(7261141)],[],[np.int64(8318704)]
40,40,[np.int64(7523728)],[],"[np.int64(5274269), np.int64(8619833)]"
41,41,[np.int64(7956475)],[],[np.int64(9930803)]
42,42,[np.int64(8269520)],[],[np.int64(9475384)]
43,43,[np.int64(8412521)],[],"[np.int64(1934664), np.int64(9639543)]"

In [101]:
second.shape

(9366907, 7)

In [102]:
third.shape

(10134448, 5)

In [104]:
def diffseeker(a, b):
    an = a.lower()
    bn = b.lower()
    matcher = difflib.SequenceMatcher(None, an, bn)
    return matcher.ratio()


def clean_FIO(name):
    
    if isinstance(name, str):
        return "".join(c for c in name if c.isalpha())
    elif isinstance(name, float):
        return ""
    else:
        return name

def clean_number(number):
    return re.sub('\D', "", number)

def clean_date(date):
    return date.split("-")

# РЕФАКТОРИНГ ДБ 1

In [105]:
first['full_name'] =  first["full_name"].apply(clean_FIO)

first['phone'] = first['phone'].apply(clean_number)
#def clean_data_1(db):
first['year'] = first['birthdate'].apply(lambda x: int(x.split('-')[0]) if len(x.split('-')) == 3 else None)
first['month'] = first['birthdate'].apply(lambda x: int(x.split('-')[1]) if len(x.split('-')) == 3 else None)
first['day'] = first['birthdate'].apply(lambda x: int(x.split('-')[2]) if len(x.split('-')) == 3 else None)
first = first.drop("birthdate", axis=1)

first

,uid,full_name,email,address,sex,phone,year,month,day
0,8357db00-b4ce-4c33-a66e-1842744d0ce4,БАЛКИБАЕВУглыМАМАСАИДКАРЛИТО,mamasaid_balkibaev0@example.ru,"г. Урус-Мартан, пер. Шмидта, д. 233 к. 6/4, 63...",m,80206450526,1954.0,6.0,15.0
1,a40182ff-7b3c-4fe4-9455-505414bf6f1c,ИГИНОВАЮТТАКОНДРАТЬЕВНП,jutta_iginova1@yandex.ru,"бул. Есенина, д. 2/3 стр. 180, 881977",f,81971286327,1981.0,11.0,24.0
2,2b401a4a-33c0-47e0-b527-300e17b3a8da,МИРОДИЛОВЗАФЕРРОБЕРТ,zafer_mirodilov2@mail.ru,"ст. Красногорск (Моск.), ул. Урожайная, д. 4/9...",m,75857627855,1954.0,7.0,3.0
3,a844b52d-6fc8-4aac-9180-092cf3cba7b0,МИРОДИЛОВЗАФЕРРОБЕРТ,zafer_mirodilov2mail,"ст. Красногорск (Моск.), ул. Урожайная, д. 4/9...",m,75857627855,954.0,1.0,1.0
4,95b72c05-1620-4f55-b3d4-c5151ff83184,БОРОВАЯШАХЗОДАНИКОЛАЕВНА,shahzoda_borovaja3@gmail.com,"к. Устюжна, ш. Инженерное, д. 1/7 к. 4, 782855",f,70175118662,1989.0,7.0,15.0
...,...,...,...,...,...,...,...,...,...
8639811,7feb1952-a06f-4ffc-8b21-f939cea41a11,ДУЙСЕМБАЕВоглиКИТИБРАГИМОВИЧ,kit_dujsembaev9999996@example.net,"п. Звенигород, наб. Бажова, д. 1/9 к. 1, 136534",m,88129796590,1951.0,3.0,28.0
8639812,29b8a9d4-385b-4448-9711-ab62d696e8e9,ПАТРИКИУглыДЖЕНГИЗЗИКРИЛЛОИ,dzhengiz_patriki9999987@example.org,"булю Высьтный,ст. Сгдннчньгорск, д. 4я2 к. 4/...",m,73860530747,52.0,7.0,26.0
8639813,19355d93-04e0-44a9-9f95-cbcf30333e42,ШРАЙБЕРЛАРИСАТАЖИДИНОВНАТАЖИДИНОВНА,larisa_shrajber9999997@bk.ru,"клх Нерчинск, Улица Маяковского, Дом 44 Строен...",f,84230248733,1963.0,12.0,25.0
8639814,f9d922d5-6013-412c-8da3-6306c4d7f249,ЭСАУПОВАГИНЧЕВАСМЛЬГАДО,gincheva_esaupova9999998@bk,"к. Качканар, ул. Пионерская, д. 82, 4\n1264",f,80745639080,1947.0,8.0,23.0
8639815,4cd64c64-fde8-4d8a-b15c-2a9d3ea5f57b,СОДИКОВАНГЕЛОВГЕННАДИЕВИЧ,angelov_sodikov9999999@example.net,"ст. Калачинск, ул. Петровская, д. 352 к. 9/5, ...",m,73022595675,1003.0,10.0,2.0

# РЕФАКТОРИНГ ДБ 2

In [106]:



second['full_name'] =  second["last_name"].apply(clean_FIO) + " " + second["first_name"].apply(clean_FIO) + " " + second["middle_name"].apply(clean_FIO)
second = second.drop(['first_name', 'last_name', 'middle_name'], axis=1)


second['phone'] = second['phone'].apply(clean_number)
#def clean_data_1(db):
second['year'] = second['birthdate'].apply(lambda x: int(x.split('-')[0]) if len(x.split('-')) == 3 else None)
second['month'] = second['birthdate'].apply(lambda x: int(x.split('-')[1]) if len(x.split('-')) == 3 else None)
second['day'] = second['birthdate'].apply(lambda x: int(x.split('-')[2]) if len(x.split('-')) == 3 else None)

second = second.drop("birthdate", axis=1)

second

,uid,phone,address,full_name,year,month,day
0,fd0eb198-eeef-4ff9-a983-26dd9aebb084,80206450526,"г. Урус-Мартан, пер. Шмидта, д. 233 к. 6/4, 63...",БAЛKИБАEВ МАМАСАИД КАРЛИТО,1954.0,6.0,15.0
1,7ac130fe-690e-4e39-9b25-b141095f3eec,75857627855,"ст. Красногорск (Моск.), ул. Урожайная, д. 4/9...",МИИРОДИЛОВ ЗАФЕР РОБЕРТ,1954.0,7.0,3.0
2,f564db39-b7b1-4643-8d24-4759d5ba6ba5,5118662,"к. Устюжна, ш. Инженерное, д. 1/7 к. 4, 782855",БОРОВАЯ ШАХЗОДА НИКОЛАЕВНА,1989.0,7.0,15.0
3,93c32877-6cf0-48f9-bb1e-c67794f08541,71807592151,"клх Кулу, пер. Кирова, д. 8 стр. 51, 713661",КУРБОНОВА НУРСУЛУ Неетт,2000.0,10.0,21.0
4,a207993d-185f-4b86-bda6-6ce2c0c6a0ff,66576,"с. Солнечногорск, ш. Краснопартизанское, д. 83...",КРИЛОВ ЮРРИЙ ЯКУП,1965.0,5.0,31.0
...,...,...,...,...,...,...,...
9366902,bb5f402f-3415-4628-8493-61ec5f6112a5,75565199969,"клх Але\nсин, алл. Пушкина, д. 9 к.\n8/6, 571\n99",МАЦКООглы ПАРИСА ВИКТРРОВА,1980.0,7.0,12.0
9366903,9bec2f02-565e-4606-891d-6cb787265352,8258897,"наб. Чехова,п. Киржач, д. 3, 166852",ABDURAHIMI ЕВВГЕНИЙ САОРЬЕВИЯ,1979.0,3.0,26.0
9366904,c3fa6191-6e7e-48de-9f93-32db47051f89,88628443616,"г. Новокузнецк, ул. Фадеева, д. 654 стр. 79, 8...",ФEННЕЛЬ ХАЙРИНИСО ЭЛЬЬКEE,1017.0,6.0,16.0
9366905,7921f041-7285-4217-a432-cdb1c3c8c523,75458197314,"ст. Темрюк, наб. Металлургов, д. 19, 832993",ПРИЛЬ СВЕТЛАНА Отсутствует,91.0,4.0,15.0
9366906,7ce450e2-ef29-431b-a1eb-94c401971589,08685,"алл. Тракторная, д. 13, 088189",ЗИНОВЕНКО ВИКТОРИЯ ЛЕОНИДОВНА,1988.0,9.0,14.0

# РЕФАКТОРИНГ ДБ 3

In [107]:
third['full_name'] =  third["name"].apply(clean_FIO)
third = third.drop("name", axis=1)

third['year'] = third['birthdate'].apply(lambda x: int(x.split('-')[0]) if len(x.split('-')) == 3 else None)
third['month'] = third['birthdate'].apply(lambda x: int(x.split('-')[1]) if len(x.split('-')) == 3 else None)
third['day'] = third['birthdate'].apply(lambda x: int(x.split('-')[2]) if len(x.split('-')) == 3 else None)
third = third.drop("birthdate", axis=1)

third

,uid,email,sex,full_name,year,month,day
0,9185f879-6289-4ad6-9cb0-ed7cb6cb652b,mamasaid_balkibaev0@example.ru,m,МАМАСАИДЬАДКИБАЕВ,9145.0,6.0,15.0
1,289fcf9e-af05-43cf-a6d4-1d1d3cf5131f,jutta_ihinova1;yanddx,f,ЮТТАИГИНОВА,1981.0,11.0,24.0
2,c2b04755-ebd8-4625-b8bb-4131ca049415,zafer_mirodilov2@mail.ru,m,ЗАФЕРМИРОДИЛОВ,NaN,NaN,NaN
3,49978ae8-51fe-4a74-908e-22ec9e693855,shahzoda_borovaja3@gmail.com,f,ШАХЗОДАБОРОВАЯ,2989.0,7.0,15.0
4,75e199c5-86fa-4d3b-b1ea-783ecc26b021,nursulu_kurbonova4@example.org,f,НУРСУЛУКУРБОНОВА,2000.0,10.0,21.0
...,...,...,...,...,...,...,...
10134443,bd214904-9074-4f5c-8d6b-b730eb8ab604,ljudmila_soldatеnko7548083@mail,f,ЛЮДМИЛАSOLDATENKO,1002.0,1.0,1.0
10134444,6212b45f-c535-4a1d-8015-1d73b5687f7e,nooruzbеk_esoev8305622@yandex.ru,m,НООРУЗБЕКЭСОЕВ,NaN,NaN,NaN
10134445,4c1d0a2b-f813-457e-8fa0-37c60e73ab1f,zebо_tretjaкova9339192@examplе,f,ЗЕБОТРЕТЬЯККОВА,NaN,NaN,NaN
10134446,d7ddea8d-0d96-47f6-aac0-8e9065635aed,ohundzhon_doliva8791091@mail,m,ОХУНДЖОНДОЛИВА,2004.0,9.0,25.0
10134447,e8306388-5069-4dd7-b2af-8e763b8e02c2,tyk_egojan8875773bk.org,m,ТЫКЕГОЯН,1002.0,11.0,9.0

In [12]:
third

,uid,email,sex,full_name,year,month,day
0,9185f879-6289-4ad6-9cb0-ed7cb6cb652b,mamasaid_balkibaev0@example.ru,m,МАМАСАИДЬАДКИБАЕВ,9145.0,6.0,15.0
1,289fcf9e-af05-43cf-a6d4-1d1d3cf5131f,jutta_ihinova1;yanddx,f,ЮТТАИГИНОВА,1981.0,11.0,24.0
2,c2b04755-ebd8-4625-b8bb-4131ca049415,zafer_mirodilov2@mail.ru,m,ЗАФЕРМИРОДИЛОВ,NaN,NaN,NaN
3,49978ae8-51fe-4a74-908e-22ec9e693855,shahzoda_borovaja3@gmail.com,f,ШАХЗОДАБОРОВАЯ,2989.0,7.0,15.0
4,75e199c5-86fa-4d3b-b1ea-783ecc26b021,nursulu_kurbonova4@example.org,f,НУРСУЛУКУРБОНОВА,2000.0,10.0,21.0
...,...,...,...,...,...,...,...
10134443,bd214904-9074-4f5c-8d6b-b730eb8ab604,ljudmila_soldatеnko7548083@mail,f,ЛЮДМИЛАSOLDATENKO,1002.0,1.0,1.0
10134444,6212b45f-c535-4a1d-8015-1d73b5687f7e,nooruzbеk_esoev8305622@yandex.ru,m,НООРУЗБЕКЭСОЕВ,NaN,NaN,NaN
10134445,4c1d0a2b-f813-457e-8fa0-37c60e73ab1f,zebо_tretjaкova9339192@examplе,f,ЗЕБОТРЕТЬЯККОВА,NaN,NaN,NaN
10134446,d7ddea8d-0d96-47f6-aac0-8e9065635aed,ohundzhon_doliva8791091@mail,m,ОХУНДЖОНДОЛИВА,2004.0,9.0,25.0
10134447,e8306388-5069-4dd7-b2af-8e763b8e02c2,tyk_egojan8875773bk.org,m,ТЫКЕГОЯН,1002.0,11.0,9.0

In [13]:
diffseeker("zafer_mirodilov2@mail.ru", "zafer_mirodilov2mail	          ")

0.7272727272727273

In [115]:
indexer = recordlinkage.Index()
indexer.sortedneighbourhood(left_on='full_name', right_on='full_name', window=3)
candidate_links = indexer.index(first, third)

In [116]:
len(candidate_links)

8384769

In [8]:
compare = recordlinkage.Compare()

compare.string("full_name", "full_name", method='jarowinkler', label='full_name', threshold=0.9)
compare.string("email", "email", method='jarowinkler', label='email', threshold=0.85)
compare.exact("sex", "sex", label='sex')

comare_vectors = compare.compute(candidate_links, first, third)

matches = comare_vectors[comare_vectors.sum(axis=1) >= 3]
print(len(matches))

94

In [18]:
matches

                 full_name  email  sex
181450  7530011        1.0    1.0    1
218123  5004951        1.0    1.0    1
796844  4485452        1.0    1.0    1
971828  1804954        1.0    1.0    1
1010592 1461313        1.0    1.0    1
...                    ...    ...  ...
8225159 58187          1.0    1.0    1
8269520 9475384        1.0    1.0    1
8412521 1934664        1.0    1.0    1
        9639543        1.0    1.0    1
8635336 8938704        1.0    1.0    1

[94 rows x 3 columns]

In [9]:
ecm = recordlinkage.ECMClassifier()
connections_first_third = ecm.fit_predict(comare_vectors)

In [10]:
print(len(connections_first_third), connections_first_third)

330 MultiIndex([(  12727, 4140344),
            (  35347, 6874387),
            ( 128610, 8109608),
            ( 177119, 8631061),
            ( 181450, 7530011),
            ( 202948, 5320945),
            ( 216816, 7950761),
            ( 218123, 5004951),
            ( 260754, 5446845),
            ( 307092, 8034813),
            ...
            (8179890,   52555),
            (8218476, 9170290),
            (8225159,   58187),
            (8269520, 9475384),
            (8412521, 1934664),
            (8412521, 9639543),
            (8487757, 6219734),
            (8510226, 9659223),
            (8625314, 7210601),
            (8635336, 8938704)],
           length=330)

In [92]:

new_dataset = pd.DataFrame(columns=["id_is1", "id_is2", "id_is3"])

In [93]:

def add_to_dataset(dataset, multiindex, ind1, ind2):
    for x in range(len(multiindex)):
        try:
            location = [multiindex[x][0] in z for z in dataset[f'id_is{ind1}']].index(True)
        except ValueError:
            location = -1
        try:
            location1 = [multiindex[x][1] in z for z in dataset[f'id_is{ind2}']].index(True)
        except ValueError:
            location1 = -1
        if location >=0:
            dataset[f'id_is{ind2}'].loc[location].append(multiindex[x][1])
        elif location1 >= 0:
            dataset[f'id_is{ind1}'].loc[location1].append(multiindex[x][0])
        else:
            new_row = [[], [], []]
            new_row[ind1-1].append(multiindex[x][0])
            new_row[ind2-1].append(multiindex[x][1])
            dataset.loc[len(dataset)] = new_row


add_to_dataset(new_dataset, connections_first_third, 1, 3)

In [94]:
new_dataset

        id_is1 id_is2              id_is3
0      [12727]     []           [4140344]
1      [35347]     []           [6874387]
2     [128610]     []  [8109608, 2186417]
3     [177119]     []           [8631061]
4     [181450]     []           [7530011]
..         ...    ...                 ...
291  [8412521]     []  [1934664, 9639543]
292  [8487757]     []           [6219734]
293  [8510226]     []           [9659223]
294  [8625314]     []           [7210601]
295  [8635336]     []           [8938704]

[296 rows x 3 columns]

In [ ]:
del connections_first_third

In [12]:
a,b =  35347, 6874387
print(first.loc[a, :])
print(third.loc[b, :])

uid                   d12f0bdc-f5c8-48ca-947a-5d43a78d478a
full_name                                  ЮЮРИЙТИМОФЕЕВИЧ
email                            jurij_ju41042@example.org
address      г. Борзя, ул. Проточная, д. 7/8 к. 67, 133164
sex                                                      m
phone                                          70471940681
year                                                2006.0
month                                                  6.0
day                                                    1.0
Name: 35347, dtype: object
uid          a8744094-6e5e-4458-a8d8-28689c41b7ab
email              jurij_torak6944710@example.com
sex                                             m
full_name                             ЮЮРИЙТОРААК
year                                       1965.0
month                                         3.0
day                                           4.0
Name: 6874387, dtype: object

# 1 and 2

In [95]:
indexer = recordlinkage.Index()
indexer.sortedneighbourhood(left_on='full_name', right_on='full_name')
candidate_links = indexer.index(first, second)   
print("Количество претендентов на совпадение: ", len(candidate_links))
compare = recordlinkage.Compare()
compare.string("full_name", "full_name", method='jarowinkler', label='full_name', threshold=0.9)
compare.string("phone", "phone", method='jarowinkler', label='phone', threshold=0.9)
compare.string("address", "address", method='jarowinkler', label='address', threshold=0.9)
compare_vectors = compare.compute(candidate_links, first, second)
matches = compare_vectors[compare_vectors.sum(axis=1) >= 3]
ecm = recordlinkage.ECMClassifier()
connections_first_second = ecm.fit_predict(compare_vectors)

Количество претендентов на совпадение:  3054392
Предсказания всухую:  120142
                 full_name  phone  address
38      41             1.0    1.0      1.0
829     871            1.0    1.0      1.0
1335    1386           1.0    1.0      1.0
1568    1663           1.0    1.0      1.0
2015    2146           1.0    1.0      1.0
...                    ...    ...      ...
8639628 9349442        1.0    1.0      1.0
8639735 9349547        1.0    1.0      1.0
8639759 9349576        1.0    1.0      1.0
8639773 9349591        1.0    1.0      1.0
8639814 9349643        1.0    1.0      1.0

[120142 rows x 3 columns]
Предсказания моделью:  285156
MultiIndex([(     38,      41),
            (    829,     871),
            (    899,     943),
            (   1311,    1394),
            (   1335,    1386),
            (   1568,    1663),
            (   1748,    1847),
            (   1856,    1957),
            (   2015,    2146),
            (   2144,    2278),
            ...
            (8639553, 9349355),
            (8639598, 9349408),
            (8639628, 9349442),
            (8639655, 9349469),
            (8639666, 9349474),
            (8639735, 9349547),
            (8639746, 9349533),
            (8639759, 9349576),
            (8639773, 9349591),
            (8639814, 9349643)],
           length=285156)

In [97]:
add_to_dataset(new_dataset, connections_first_second, 1, 2)
new_dataset

KeyboardInterrupt:

In [98]:
new_dataset

          id_is1     id_is2              id_is3
0        [12727]         []           [4140344]
1        [35347]         []           [6874387]
2       [128610]         []  [8109608, 2186417]
3       [177119]         []           [8631061]
4       [181450]         []           [7530011]
...          ...        ...                 ...
17034  [2757332]  [2982461]                  []
17035  [2757533]  [2982667]                  []
17036  [2757625]  [2996398]                  []
17037  [2757643]  [2982773]                  []
17038  [2757724]  [2982854]                  []

[17039 rows x 3 columns]

In [ ]:
del connections_first_second

In [36]:
indexer = recordlinkage.Index()
indexer.sortedneighbourhood(left_on='full_name', right_on='full_name')
candidate_links = indexer.index(first, first)   
print("Количество претендентов на совпадение: ", len(candidate_links))
compare = recordlinkage.Compare()
compare.string("full_name", "full_name", method='jarowinkler', label='full_name', threshold=0.9)
compare.string("email", "email", method='jarowinkler', label='email', threshold=0.9)
compare.string("phone", "phone", method='jarowinkler', label='phone', threshold=0.9)
compare.string("address", "address", method='jarowinkler', label='address', threshold=0.9)
compare_vectors = compare.compute(candidate_links, first, first)
matches = compare_vectors[compare_vectors.sum(axis=1) >= 4]
print("Предсказания всухую: ",len(matches))
print(matches)
ecm = recordlinkage.ECMClassifier()
connections_first_first = ecm.fit_predict(compare_vectors)
print("Предсказания моделью: ",len(connections_first_first))
print(connections_first_first)

Количество претендентов на совпадение:  26267808
Предсказания всухую:  8697900
                 full_name  email  phone  address
220     215            1.0    1.0    1.0      1.0
259     397            1.0    1.0    1.0      1.0
422     425            1.0    1.0    1.0      1.0
2608    2730           1.0    1.0    1.0      1.0
2820    2807           1.0    1.0    1.0      1.0
...                    ...    ...    ...      ...
8636515 8636508        1.0    1.0    1.0      1.0
8637043 8637023        1.0    1.0    1.0      1.0
8637166 8637184        1.0    1.0    1.0      1.0
8637583 8637592        1.0    1.0    1.0      1.0
8637968 8637913        1.0    1.0    1.0      1.0

[8697900 rows x 4 columns]
Предсказания моделью:  8862298
MultiIndex([(    182,     203),
            (    220,     215),
            (    259,     397),
            (    422,     425),
            (    470,     338),
            (    577,     581),
            (    718,     748),
            (    746,     726),
            (    766,     560),
            (    807,     809),
            ...
            (8638325, 8638400),
            (8638450, 8638312),
            (8638523, 8638522),
            (8638548, 8638647),
            (8638730, 8638724),
            (8639062, 8639033),
            (8639080, 8639205),
            (8639116, 8639179),
            (8639204, 8639223),
            (8639640, 8639665)],
           length=8862298)

In [ ]:
add_to_dataset(new_dataset, connections_first_first, 1, 1)
new_dataset

In [ ]:
del connections_first_first

In [58]:
indexer = recordlinkage.Index()
indexer.sortedneighbourhood(left_on='full_name', right_on='full_name', window=7)
candidate_links = indexer.index(second, second)   
print("Количество претендентов на совпадение: ", len(candidate_links))
compare = recordlinkage.Compare()
compare.string("full_name", "full_name", method='jarowinkler', label='full_name', threshold=0.9)
compare.string("phone", "phone", method='jarowinkler', label='phone', threshold=0.9)
compare.string("address", "address", method='jarowinkler', label='address', threshold=0.9)
compare_vectors = compare.compute(candidate_links, second, second)
matches = compare_vectors[compare_vectors.sum(axis=1) >= 4]
print("Предсказания всухую: ",len(matches))
print(matches)
ecm = recordlinkage.ECMClassifier()
connections_second_second = ecm.fit_predict(compare_vectors)
print("Предсказания моделью: ",len(connections_second_second))
print(connections_second_second)

MemoryError: Unable to allocate 71.5 MiB for an array with shape (9366907,) and data type int64

In [57]:
a,b =  718,     748
print(second.loc[a, :])
print(second.loc[b, :])

uid                       5892e34a-5f0e-4f7c-adf8-1f5bee136e84
phone                                              78678020948
address       Шоссе Клчубея,клх Льгов, Дом 59 Стропние 4я, ...
full_name                            ДМАШЕНК ЕЛЕНА АНАТОЛЬЕВНА
year                                                    1977.0
month                                                     11.0
day                                                        7.0
Name: 718, dtype: object
uid          400a325c-8354-4370-9c6c-ffc893bd26f5
phone                                 87401720414
address         ш. Иркутское, д. 1 к. 2/5, 216537
full_name                    СОБИРОВ ЕВГЕНИЙ ЮЛЧИ
year                                       1945.0
month                                        10.0
day                                           7.0
Name: 748, dtype: object

In [59]:
third.columns

Index(['uid', 'email', 'sex', 'full_name', 'year', 'month', 'day'], dtype='object')

In [60]:
indexer = recordlinkage.Index()
indexer.sortedneighbourhood(left_on='full_name', right_on='full_name')
candidate_links = indexer.index(third, third)   
print("Количество претендентов на совпадение: ", len(candidate_links))
compare = recordlinkage.Compare()
compare.string("full_name", "full_name", method='jarowinkler', label='full_name', threshold=0.9)
compare.string("email", "email", method='jarowinkler', label='email', threshold=0.9)
compare.exact("sex", "sex", label='sex')
compare_vectors = compare.compute(candidate_links, third, third)
matches = compare_vectors[compare_vectors.sum(axis=1) >= 3]
print("Предсказания всухую: ",len(matches))
print(matches)
ecm = recordlinkage.ECMClassifier()
connections_third_third = ecm.fit_predict(compare_vectors)
print("Предсказания моделью: ",len(connections_third_third))
print(connections_third_third)

MemoryError: Unable to allocate 77.3 MiB for an array with shape (10134448,) and data type int64

In [63]:
new_dataset = pd.DataFrame(columns=["id_is1", "id_is2", "id_is3"])

In [64]:
new_dataset

Empty DataFrame
Columns: [id_is1, id_is2, id_is3]
Index: []